<h1 class=container>Lists</h1>


<% @lists.each do |list| %>
  <div class=m-2>
    <%= link_to list.name, list_path(list) %>
  </div>
<% end %>

<br>


<%= link_to "Create a new list", new_list_path %>
